<a ui-sref="LogIn" style="font-size:140%;"><b class="glyphicon glyphicon-circle-arrow-left"></b></a> <h3 style="display:inline-block;">Register:</h3>

<form ng-submit="Register()">
  <h5>Login Info:</h5>
  <div ng-class="{'has-error':modelState.Email || modelState.DuplicateUserName}" class="form-group form-group-sm">
    <label for="Email" class="control-label sr-only">E-mail*</label>
    <input type="text" id="Email" ng-model="User.Email"  maxlength="50" placeholder="E-mail*" class="form-control">
    <span class="help-block small text-right">{{ modelState.Email }}{{ modelState.DuplicateUserName }}</span>
  </div>
  <div ng-class="{'has-error':modelState.Password || modelState.PasswordPolicy}" class="form-group form-group-sm">
    <label for="Password" class="control-label sr-only">Password*</label>
    <input type="password" id="Password" ng-model="User.Password" minlength="6" maxlength="50"  placeholder="Password*" class="form-control">
    <span class="help-block small text-right">{{ modelState.Password }}{{ modelState.PasswordPolicy }}</span>
  </div>
  <div ng-class="{'has-error':modelState.PasswordConfirm}" class="form-group form-group-sm">
    <label for="PasswordConfirm" class="control-label sr-only">Confirm Password*</label>
    <input type="password" id="PasswordConfirm" ng-model="User.PasswordConfirm" minlength="6" maxlength="50" placeholder="Confirm Password*" class="form-control">
    <span class="help-block small text-right">{{ modelState.PasswordConfirm }}</span>
  </div>
  <hr>
  <br>
  <h5>Profile:</h5>
  <div ng-class="{'has-error':modelState.NameFirst}" class="form-group form-group-sm">
    <label for="NameFirst" class="control-label sr-only">First Name*</label>
    <input type="text" id="NameFirst" ng-model="User.NameFirst"  maxlength="50" placeholder="First Name*" class="form-control">
    <span class="help-block small text-right">{{ modelState.NameFirst }}</span>
  </div>
  <div class="form-group form-group-sm">
    <label for="NameLast" class="control-label sr-only">Last Name</label>
    <input type="text" id="NameLast" ng-model="User.NameLast" maxlength="50" placeholder="Last Name" class="form-control">
    <span class="help-block small text-right"></span>
  </div>
  <button type="submit" class="btn btn-sm btn-primary pull-right">SUBMIT</button>
</form>