<a ui-sref="LogIn" style="font-size:140%;"><b class="glyphicon glyphicon-circle-arrow-left"></b></a> <h3 style="display:inline-block;">Reset Password:</h3>

<p class="text-justify">
  To reset your password, please enter your [User Name] or [Registered E-mail].
  A request verification e-mail will be sent to your registered e-mail, please follow the instructions contained in the e-mail.
</p>
<hr>
<br> 

<form ng-submit="ResetPassword()">
  <div class="form-group form-group-sm">
    <label for="UserName" class="control-label sr-only">User Name / E-mail*</label>
    <input type="email" id="UserName" ng-model="UserName" required maxlength="50" placeholder="User Name or E-mail*" class="form-control">
    <span class="help-block small text-right"><i>has error</i></span>
  </div>
  <button type="submit" class="btn btn-sm btn-block btn-primary">SEND REQUEST</button>
</form>